<html>
    <head>
        <title><%= pagename %></title>
        <link rel="stylesheet" type="text/css" href="MS_EXCEL.css">
    </head>
    <body>
        <table>
            <% for(let i=0;i < rows;i++) {%>
                <tr>
                    <% for(let j=0;j < cols;j++) {%>
                        <% if(i==0) {%>
                            <% if(j==0){%>
                            <th>

                            </th>
                        <%}else{%>
                            <th> 
                                <span><%= String.fromCharCode('A'.charCodeAt(0)+j-1)%></span>
                            </th>
                            <%}%>
                        <%}else{%>
                            <% if(j==0){%>
                                <td>
                                    <%= i %>
                                </td>
                            <%}else{%>
                                <td>
                                    <input type="text" value="" id="hello" size="1" place="<%=String.fromCharCode('A'.charCodeAt(0)+j-1)%><%= i %>">
                                </td>
                            <%}%>

                        <%}%>
                    <%}%>
                </tr>

            <%} %>
        </table> 
    </body>
</html>